@model BirdsEye.App.Models.MyProfile


@{
    ViewBag.Title = "MyProfile";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h2>MyProfile</h2>
Username: @Model.UserName
<br />
EmailAddress:  @Model.EmailAddress
<br />
FirstName @Model.FirstName
<br />
LastName @Model.LastName