
@{
    ViewBag.Title = "Login";
}

<head>
    <title> Transparent Login Form </title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="login-box box">
        <img src="~/Art/avatar.png" class="avatar">
        <h1>Login Here</h1>
        @using (Html.BeginForm("LoginGo", "Home", FormMethod.Post))
        {
            <p>Email Address</p>
            <input type="text" name="emailAddress" placeholder="Enter Email Address">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" name="submit" value="Login">
            @Html.ActionLink("Forgot Password", "passwordreset", "Home")
            @Html.ActionLink("Register", "Register", "Home")
        }
    </div>
</body>
